.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  font-size: 1.4rem;
}

.input-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  column-gap: 20px;
}

ul {
  padding: 0;
  list-style: none;
}

li {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  cursor: pointer;
}

li:hover {
  background-color: aliceblue;
}

.set-width {
  width: 400px;
}

.delete {
  display: block;
  justify-content: end;

  text-align: right;
  color: red;
  cursor: pointer;
  right: 0;
  align-items: end;
}

input:checked+span {
  text-decoration: line-through;
}